<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Welcome to my App! </h1>

<!-- ------------------------------------------------------------------------ -->
    <!-- nav links -->
     <nav>
         <a href="/">Home</a>
         <a href="/">User 1</a>
         
     </nav>

    </br>
</br>
<!-- ------------------------------------------------------------------------ -->

     <h2>Submit your information</h2>
    </br>
     <!-- submition form -->
<form action="/submit" method="POST"> 
    <input type="text" name="name" placeholder="Your Name" requred>
    <button type = "submit">Submit </button>


</form>

</br>
</br>
</br>


<h2>Download image</h2>
<img src="./public/ai-generated-image.webp" alt="image" style="width: 300px;">

<!-- download button -->
<button>
    <a href="/download" download>
        <button>Download image</button>
    </a>
</button>

</body>
</html>